/* Reset */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  text-decoration: none;
  outline: none;
}

ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

textarea,
select {
  appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}

/* Reset End */

:root {
  --primary: #242d38;
  --secondary: #efd592;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--secondary);
  padding: 10px;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  color: var(--secondary);
  background-color: var(--primary);
}

h1 {
  color: #efd592;
  text-transform: uppercase;
  font-size: 36px;
}

.menu {
  font-size: 24px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 16px;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 90px 20px;
  align-items: center;
  justify-content: center;
  position: absolute;
  max-width: 1000px;
  top: 100px;
}
